<header class="main-header">
  <!-- Navigation Menu -->
  <nav class="nav-menu">
      <a href="#news">News</a>
      <a href="#recent-attacks">Recent Attacks</a>
      <a href="#rising-threats">Rising Threats</a>
      <a href="#zero-day">Zero-Day</a>
      <a href="#global-news">Global News</a>
  </nav>
   
   <!-- Search bar to be implemented-->
  <div class="search-container">
      <input type="text" placeholder="Search cybersecurity news..." />
  </div>
    
</header>

        